body{
   background-color: white;
   background-image: url(https://t3.ftcdn.net/jpg/05/11/45/34/360_F_511453499_fCkjOExIK1MBv9rk1CSmLcKdWXDSxhTn.jpg);
}

h1  {
   color: red;
   background-color: darkmagenta;
}

h3  {
   color: aqua;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }


